name: Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  actions: read
  contents: read
  pull-requests: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - id: setup-uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        if: steps.setup-uv.outputs.cache-hit != 'true'
        run: uv sync --all-extras
      - name: Docker compose
        uses: adambirds/docker-compose-action@bb7d920fc625486a7be4ea860554b6da88fd75a3 # v1.5.0
        with:
          compose-file: "docker-compose.yml"
      - name: Test
        run: uv run pytest
